<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/detail.css">
    <link rel="stylesheet" href="/static/carts.css">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/mygxin.css">
    <link rel="stylesheet" href="/static/base.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/carts.js"></script>
    <style>
        #price_:before{
            content: "¥";
        }
    </style>

    {% block headerjs %}

    {% endblock %}
</head>
<body>
    {% include 'header.html' %}

    {% block main %}

    {% endblock %}

    {% block footerjs %}

    {% endblock %}

</body>
</html>